// --uni-radius: 8px;
// --main-bg-color: rgb(255, 255, 255);
// --darker-bg-on-hover: lightgray;
// --outline-and-border: gray;
// --font-color: black;
// --body-color: white;

.modal-container {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.818);
	z-index: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s, visibility 0.5s;
	visibility: hidden;
	opacity: 0;
}

.backdrop-visible {
	transition: opacity 0.5s, visibility 0.5s;
	visibility: visible;
	opacity: 1;
}

.modal-box,
.option-box {
	background-color: var(--body-color);
	border-radius: var(--uni-radius);
	padding: 20px;
	margin: 10px;
	h2 {
		font-size: 1.5rem;
	}
	.option-row {
		cursor: pointer;
		padding: 5px 10px;
		border-radius: var(--uni-radius);
		background-color: var(--font-color);
		color: var(--body-color);
		margin-bottom: 10px;
		text-align: center;
		font-size: 1rem;
		&:hover {
			opacity: 0.8;
		}
	}
	.modal-action {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		button {
			color: var(--font-color);
			font-size: 1rem;
			padding: 5px 20px;
			border-radius: var(--uni-radius);
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
		.btn-danger {
			color: var(--outline-and-border);
			text-decoration: underline;
			outline: 1px solid var(--outline-and-border);
		}
		.btn-normal {
			color: var(--body-color);
			background-color: var(--font-color);
		}
	}
	animation: modal-appear 0.1s forwards;
}

@keyframes modal-appear {
	from {
		transform: scale(0.1);
	}
	to {
		transform: scale(1);
	}
}

@keyframes modal-hide {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

.modal-remove {
	animation: modal-hide 0.1s forwards;
}
